.baseBtn {
  color: var(--white);
  outline: none;
  border: none;
  border-radius: 200px;
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 16px 60px;
  font-weight: 500px;
  margin-top: 40px;
  cursor: pointer;
  transform: background-color 250ms ease;
}

.baseBtn:hover{
    background-color: var(--button-hover);
}