.list{
    width: 100%;
    padding-top: 24px;
    border-top: 1px solid var(--gray-light);
    display: grid !important;
   grid-template-columns: repeat(3, 1fr);
   gap: 12px 8px;
}

.item{
border: 1px solid var(--gray-light);
border-radius: 12px !important;
padding: 16px 18px;
min-width: 112px;
height: 96px;
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
color: var(--prymary-text-color) !important;
font-weight: 500 ;
font-size: 16px;
line-height: 1.5;
letter-spacing: -0.01em;
}

.item:global(.Mui-selected) {
    border-color: var(--button-hover);
    background-color: transparent !important;
   
}

.title{
    font-weight: 600;
font-size: 20px;
line-height: 1.2;
color: var(--prymary-text-color);
margin-bottom: 24px;
}

.list :global(.MuiToggleButtonGroup-grouped){
    border-left: 1px solid var(--gray-light) !important;

}
.list :global(.MuiToggleButtonGroup-grouped.Mui-selected){
   border-left: 1px solid var(--button-hover) !important;

}
