.avatar{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: var(--badges);
    margin-right: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 600;
font-size: 24px;
color: var(--button-backround);
}

.titleSection{
    display: flex;
    gap: 4;
    margin-bottom: 16px;
    align-items: center;
    
}

.name{
    font-weight: 500;
line-height: 1.5;
}

.list{
    display: flex;
    flex-direction: column;
    gap: 44px;
}

.comment{
    color: var(--text);
}