.hero{
    max-width: 1440px;
    height: 696px;
    margin: 0 auto;
    background: url("../../../public/hero.jpg") center/cover no-repeat;
    display: flex;
}

.contentContainer{
     margin-left: 64px;
     margin-top: 310px;
       color: var(--white);
}

.title{
    font-weight: 600;
    font-size: 48px;
    line-height: 0.67;
    margin-bottom: 16px;
}

.subtitle{
    font-size: 24px;
    line-height: 1.33;
    font-weight: 600;
    padding-bottom: 40px;
}