.baseBtn {
  background-color: var(--button-backround);
  color: var(--white);
  outline: none;
  border: none;
  border-radius: 200px;
  display: inline-flex;
  align-items: center;
  gap: 10px;
  padding: 16px 60px;
  font-weight: 500px;
  cursor: pointer;
  transition: background-color 250ms ease;
}

.baseBtn:hover{
  background-color: var(--button-backround);
}