.container {
  display: flex;
  width: 100%;
  align-items: stretch;
  gap: 24px;
}

.content {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card {
  border: 1px solid var(--gray-light);
  border-radius: 20px;
  padding: 24px;
}

.wrapperImg {
  overflow: hidden;
  border-radius: 10px;
  flex:0 0 292px;
  height: 320px;
}

.image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.title {
  font-weight: 600;
  font-size: 24px;
  line-height: 1.33;
  margin: 0;
}

.meta {
  line-height: 1.5;
  color: var(--prymary-text-color);
  font-weight: 400;
  display: flex;
  gap: 16px;
}

.description {
  color: var(--text);
  font-weight: 400;
  line-height: 1.5;
}

.sectionPrice{
    display: flex;
    align-items: center;
    gap: 12px;
}
.favoriteBtn{
    background-color: var( --prymary-background);
    border: none;
    font-size: 20px;
}