.container{
    display: grid;
    gap: 40px;
    grid-template-columns:  1fr 1fr;
    margin-bottom: 80px;
    padding: 44px;
   border-top: 1px solid var(--badges);

}

.section{
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    padding: 44px 52px;
   background: var(--inputs);
    
}

.detailsList{
    border-top: 1px solid var(--inputs);
    display: grid;
    gap: 16px;
    padding-top: 24px;
}

.title{
   font-weight: 600;
   font-size: 24px;
   margin-top: 100px;
   margin-bottom: 24px;
}

.row{
    display: flex;
    justify-content: space-between;
    align-items: center;
}