:root {
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  --prymary-text-color: #101828;
  --prymary-background: #FFFFFF;
  --button-backround:  #e44848;
  --button-hover: #d84343;
  	--gray-light: #dadde1;
    --text: #475467;
    	--gray: #6c717b;
    --badges: #f2f4f7;
  --white: #fff;
  --inputs: #f7f7f7;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}


body {
   font-family: "Inter", system-ui, Avenir, Helvetica, Arial, sans-serif;
  margin: 0;
  background-color: var(--prymary-background);
  color: var(--prymary-text-color);
  
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

ul{
  padding-left: 0;
  margin: 0;
}
li{
  list-style: none;
}
a{text-decoration: none;}

p{margin: 0;}