.list{
    display: grid;
    grid-template-columns: repeat(4, 292px);
    gap: 48px;
    margin: 0;
    padding: 0;
    justify-content: start;
    margin-top: 28px;
}

.wrapper{
width: 292px;
height: 312px;
overflow: hidden;
border-radius: 10px;
}

.itemImg{
    width:100%;
    height: 100%;
    display: block;
    object-fit: cover;
    border-radius: 10px;
}