.container{
    width: 360px;
    margin-right: 64px;
}

.inputWrapper{
    border-radius: 12px;
padding: 18px;
width: 100%;

background: var(--inputs);
color: var(--prymary-text-color);
}

.input{
    background: var(--inputs);
    outline: none;
border: none;
margin-left: 10px;
width: 90%;
font-size: 16px;
}
.meta{
    margin-bottom: 40px;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.labelFilters{
    font-weight: 500;
font-size: 16px;

line-height: 1.5;
color: var(--text);
margin-bottom: 32px;
}

.sectionFilters{
    display: grid;
    gap: 32px;
}


